<html lang="zh-CN">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>SeqDB</title>

    <!-- Bootstrap core CSS -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/my.css" rel="stylesheet">
    <link href="__CSS__/lightbox.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="__CSS__/jumbotron.css" rel="stylesheet">
    <link href="__CSS__/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap-select.min.css" rel="stylesheet">
    <link href="__CSS__/datetimepicker.css" rel="stylesheet" type="text/css" >

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="__JS__/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="__JS__/ie-emulation-modes-warning.js"></script>
    <script src="__JS__/jquery/1.11.3/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>

    <link href="__JS__/skins/square/blue.css" rel="stylesheet">
    <script src="__JS__/icheck.min.js"></script>
    <script src="__JS__/lightbox.js"></script>


    <script src="__JS__/jquery.dataTables.js"></script>
    <script src="__JS__/dataTables.bootstrap.min.js"></script>
    <script src="__JS__/bootstrap-select.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="__JS__/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="__JS__/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{:U('Index/index')}">SeqDB</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li <eq name="CONTROLLER_NAME" value="Sample">class="active"</eq>><a href="{:U('Sample/index')}">样本管理</a></li>
                <li <eq name="CONTROLLER_NAME" value="Library">class="active"</eq>><a href="{:U('Library/index')}">文库管理</a></li>
                <li <eq name="CONTROLLER_NAME" value="Seq">class="active"</eq>><a href="{:U('Seq/index')}">送样管理</a></li>
                <li <eq name="CONTROLLER_NAME" value="Data">class="active"</eq>><a href="{:U('Data/index')}">数据管理</a></li>
                <if condition="is_administrator()">
                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{:U('Sys/index')}">用户管理</a></li>
                            <li><a href="{:U('Sys/index')}">日志管理</a></li>
                        </ul>
                    </li>
                </if>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Hello {:get_nickname(is_login())} !<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">修改密码</a></li>
                        <li><a href="{:U('Index/logout')}">退出系统</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        
        <div class="container">
        <p>SeqDB是一个二代测序数据管理系统，可以管理数据相关的样品、文库、送样等相关信息。提供可视化的管理系统。</p>
        </div>

    </div>
