<include file="Public/header"/>
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <h1>测序文件</h1>
            </div>

            <div class="col-md-6">
                <a class="btn btn-info pull-right" style="margin-top: 30px;" href="__URL__/add" role="button" target="_blank">添加测序文件</a>
            </div>
            <div class="col-md-12"><hr></div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <table id="datatable" class="table table-hover table-striped table-bordered " cellspacing="0" width="100%">
                        
                        <thead>
                            <tr>
                            <th class="text-center">数据编号</th>
                            <th class="text-center">样品名称</th>
                            <th class="text-center">样品类型</th>
                            <th class="text-center">测序类型</th>
                            <th class="text-center">测序平台</th>
                            <th class="text-center">数据读长</th>
                            <th class="text-center">数据量</th>
                            <th class="text-center">数据类型</th>
                            <th class="text-center">数据备注</th>
                            <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        
                        <tbody class="text-center" >
                            <foreach name="data" item="obj">
                            <tr>
                                <td>{$obj['data_id']}</td>
                                <td>{$obj['sample_name']}</td>
                                <td>{$obj['sample_type']}</td>
                                <td>{$obj['seqtype']}</td>
                                <td>{$obj['platform']}</td>
                                <td>{$obj['read_length']} bp</td>
                                <td>{:round($obj['amount'],3)}G</td>
                                <td>
                                    <switch name="obj['is_raw']">
                                        <case value="0">Raw</case>
                                        <case value="1">Clean</case>
                                    </switch> | 
                                    <switch name="obj['read_order']">
                                        <case value="1">R1</case>
                                        <case value="2">R2</case>
                                        <case value="3">SE</case>
                                    </switch>
                                <td>{$obj['comment']}</td>
                                <td><a href="__URL__/detail/sid/{$obj.id}">详情</a> |<a href="__URL__/update/sid/{$obj.id}">修改</a> | <a href="__URL__/del/sid/{$obj.id}">删除</a></td>
                            </tr>
                            </foreach>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>



        <div class="container">
            <hr>

            <footer>
                <p>&copy; Company 2014</p>
            </footer>
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="__JS__/ie10-viewport-bug-workaround.js"></script>
        <script type="text/javascript" language="javascript" class="init">
            $(document).ready(function() {
                $('#datatable').DataTable({"order":[[0,"desc"]],
            });
            } );
        </script>
    </body>
</html>
